body.developments #menu{
/* 	background-color:#000; */
}
#container-properties {
    overflow: auto;  
    display:none; 
}
#js-map,
#developmentLegal{	
	display:none;
}

.half-half {
    width: 100%;
    height: 50%;
    background: url(img/grid-img-1.jpg) center bottom no-repeat;
    background-size: cover;
}

.half-sdg {
    width: 100%;
    height: auto;
    position: relative;
}

.half-sdg .svg-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;	
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 280px;
    height: 52px;
/*     cursor: pointer; */
    margin-left: -140px;
    z-index: 10;2
    margin-top: 26px;
}

.half-sdg .svg-wrapper .text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 280px;
    font-family: 'Inconsolata', monospace, san-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.half-sdg .svg-wrapper svg polyline {
    fill: none;
    stroke: #fff;
    stroke-width:3px;
}

.half-sdg .svg-wrapper.coming-soon svg polyline{
	display:none;
}

.half-sdg .svg-wrapper svg polyline.left {
    stroke-dasharray: 332;
    stroke-dashoffset: 300;
}

.half-sdg .svg-wrapper svg polyline.right {
    stroke-dasharray: 40 332;
    stroke-dashoffset: -300;
}

.half-sdg .half-sdg-fader {
    position:absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 5;
}

.half-sdg img {
    max-width: 100%;
    display: block;
}

#js-map {
    width: 100%;
    height: 605px;
    background-color: #000;
    position: relative;
}

#js-map img, 
#js-map div,
nav#js-map-nav{
    display: none;
}

h1#js-map-mobile {
    width: 60%;
    margin: 0 20%;
    padding: 1px 0 3px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 300;
    text-align: center;
    font-family: 'Inconsolata',monospace, san-serif;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2em;
    background-color: #ff6600;
    display: block;
}

.lowerLegal{
	padding: 0 20px 50px 20px;
}

.lowerLegal .siteCredits{
	padding-top:20px;
}

@media only screen and (min-width: 960px) and (min-device-width: 1024px){
	body.mobile.developments #menu{
		background-color:transparent;
	}

	#container-properties,
	#js-map {
    display:block;
	}
	
	#developmentLegal{
		display:block;
		position:relative;
		border-top:solid 1px #272727;
		margin-top:-2px;
	}
	
    .half-half {
        width: 50%;
        height: 50%;
        float: left;
    }
    
    .half-sdg {
        width: 50%;
        height: auto;
        background-color: #3c3c3c;
        float: left;
/*         cursor: pointer; */
    }
    
    .half-sdg .svg-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;	
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 280px;
        height: 52px;
/*         cursor: pointer; */
        margin-left: -140px;
        z-index: 10;
        margin-top: 0;
    }    
    
    .half-sdg .svg-wrapper .text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 280px;
        font-family: 'Inconsolata',monospace, san-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        color: #fff;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    
    .half-sdg .svg-wrapper svg polyline {
        fill: none;
        stroke: #fff;
        stroke-width:3px;
        webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
            
    .half-sdg .svg-wrapper svg polyline.left {
        stroke-dasharray: 332;
        stroke-dashoffset: 300;
    }
    
    .half-sdg .svg-wrapper svg polyline.right {
        stroke-dasharray: 40 332;
        stroke-dashoffset: -300;
    }
    
    .half-sdg:hover .svg-wrapper svg polyline{
        stroke-dasharray: 332;
        stroke-dashoffset: 0;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    
    .half-sdg .half-sdg-fader {
        position:absolute;
        opacity: 0;
        -webkit-transition: all 1.25s ease-out;
        -moz-transition: all 1.25s ease-out;
        -ms-transition: all 1.25s ease-out;
        -o-transition: all 1.25s ease-out;
        transition: all 1.25s ease-out;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 5;
    }
    
    .half-sdg:hover .half-sdg-fader,
    .half-sdg.darken .half-sdg-fader{
        opacity: 0.5;
    }
    
    .half-sdg:hover .svg-wrapper.coming-soon + .half-sdg-fader{
	    cursor:default;
	    opacity: 0;
    }
    
    .half-sdg:hover.darken .half-sdg-fader{
        transition:none;
        opacity:0.5 !important;
    }   
 
    #js-map {
        height: auto;
    }

    h1#js-map-mobile {
        display: none;
    }

    nav#js-map-nav {
        display: block;
        position: absolute;
        top: 60%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 200;
        background-color: rgba(0,0,0,0.5);
        left: 45px;
        right: auto;
        width: 240px;
    }

    nav#js-map-nav ul {
        list-style-type: none;
    }

    nav#js-map-nav ul li {
        color: #9a9a9a;
/*         font-family: helvetica, sans-serif; */
		font-family:'Inconsolata', monospace, sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 100;
        padding: 2px 10px 2px 20px;
        margin: 2px 0;
        text-align: left;
		letter-spacing:0.07em;
        -webkit-transition: all .35s ease-out;
        -moz-transition: all .35s ease-out;
        -ms-transition: all .35s ease-out;
        -o-transition: all .35s ease-out;
        transition: all .35s ease-out;
        background: url(img/line-white.svg) left center no-repeat;
        background-size: 0px 1px;
    }

    nav#js-map-nav ul li.header {
        padding: 14px 10px 14px 20px;
        margin: 0 0 10px;
        color: #fff;
    }

    nav#js-map-nav ul li.recent {
        background: url(img/js-circle-recent.svg) left center no-repeat, url(img/line-white.svg) left bottom repeat-x;
        background-size: 12px 12px, 10px 1px;
    }

    nav#js-map-nav ul li.future {
        background: url(img/js-triangle-future.svg) left center no-repeat, url(img/line-white.svg) left bottom repeat-x;
        background-size: 12px 12px, 10px 1px;
    }

    nav#js-map-nav ul li.archived {
        background: url(img/js-square-archived.svg) left center no-repeat, url(img/line-white.svg) left bottom repeat-x;
        background-size: 12px 12px, 10px 1px;
    }

    nav#js-map-nav ul li a {
        color: #9a9a9a;
        text-decoration: none;
        display: block;
        -webkit-transition: color .5s ease-out;
        -moz-transition: color .5s ease-out;
        -ms-transition: color .5s ease-out;
        -o-transition: color .5s ease-out;
        transition: color .5s ease-out;
        cursor: pointer;
    }

    nav#js-map-nav ul li a:hover,
    nav#js-map-nav ul li.current a {
        color: #fff;
    }
    
    nav#js-map-nav ul li.nav:hover {
        background: url(img/line-white.svg) left center no-repeat;
        background-size: 10px 1px;
    }

    nav#js-map-nav ul li.current {
        background: url(img/line-white.svg) left center no-repeat;
        background-size: 10px 1px;
    }


    #js-map img {
        display: block;
        max-width: 100%;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }

    #js-map div {
        position: absolute;
        display: block;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
        cursor: pointer;
        width: 1.6%;
        height: 1.6%;
        margin-left: -0.8%;
        margin-top: -0.8%;
    }
    /*
    #js-map div.active-icon::after {
        content: attr(data-project);
        color: #fff;
        width: 160px;
        padding: 4px 6px;
        background-color: #000;
        border: 1px solid #fff;
        font-size: 14px;
        position: absolute;
        right: -40px;
        top: -26px;
        text-transform: uppercase;
    }
    */
    
    #js-map #map-icon-tooltip {
        position: absolute;
        background-color: #000;
        border: 1px solid #fff;
        padding: 6px 12px;
        width: auto;
        z-index: 20;
        margin-top: -70px;
        font-family: 'Inconsolata', monospace, san-serif;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        white-space: nowrap;
    }
    
    #js-map #map-icon-tooltip.active {
	    border: 4px solid #fff;
	    transition:background 500ms ease;
    }
    
    #js-map #map-icon-tooltip.active:hover {
	    background-color: #fff;
    }
    
    #js-map #map-icon-tooltip.active a{
	    transition:color 250ms ease;
    }
    
    #js-map #map-icon-tooltip.active:hover a{
	    color:#000;
    } 
    
    #js-map #map-icon-tooltip-line {
        position: absolute;
        background: url(img/tooltip-line.png) top center no-repeat;
        width: 1px;
        height: 50px;
        z-index: 19;
        margin-top: -60px

    }
    
    #js-map div:hover {
        /*
        transform: scale(1.2);
        */
    }

    div.recent {
        background: url(img/js-circle-recent.svg) center center no-repeat;
        background-size: 100% 100%;
        z-index: 13;
    }

    div.future {
        background: url(img/js-triangle-future.svg) center center no-repeat;
        background-size: 100% 100%;
        z-index: 12;
    }

    div.archived {
        background: url(img/js-square-archived.svg) center center no-repeat;
        background-size: 100% 100%;
        z-index: 11;
    }
            
    .lowerLegal{
		background-color:#000;
		color:#fff;
	    display:block;
    }
               
    
}

@media screen and (min-width: 1200px) {
    nav#js-map-nav ul li {
        padding: 2px 10px 2px 20px;
        margin: 6px 0;
    }

    nav#js-map-nav ul li.header {
        padding: 14px 10px 13px 20px;
        margin: 16px 0 12px;
    }
}
