.section{
background-repeat:no-repeat;
background-size:cover;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
/* 	margin: 0 auto 1em; */
}
.section .half{
width:50%;
height:100%;
display:inline-block;
background-size:cover;
background-position: center center;
}
.fp-responsive .fp-tableCell{
height:100% !important;
}
.fp-responsive .section{
height:0 !important;
padding-bottom:50%;
}
.fp-responsive #hero{
height:77% !important;
max-height:none !important;
padding:0 !important;
}
.fp-responsive #hero .centered{
font-size:12px;	
}
.fp-responsive .listWrap{
margin-top:50px;
}
.right{
position:fixed;
display:block;	
}
.FlexEmbed {
display: block;
overflow: hidden;
position: relative;
}

.FlexEmbed:before {
content: "";
display: block;
width: 100%;
}

.FlexEmbed--2by1:before {
padding-bottom: 50%;
}

.CoverImage {
background-repeat: no-repeat;
background-size: cover;
margin: 0 auto;
max-width: 960px;
}

.tall{
display: inline-block;	
width:50%;
background-size: cover;
background-position: center center;
}
.tall:before {
content: "";
display: inline-block;
padding-bottom: 100%;
text-align:left;
vertical-align: middle;
height: 100%;
}
	
@media only screen and (min-width: 960px) and (min-device-width: 1025px){
	.section{
	height:100% !important;
	position:relative;
	text-align:center;
	background-size: cover;
	background-position: center center;
	}
	header{top:0;}
	footer{bottom:0;}
	
	header,footer{
	cursor: pointer;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	position:absolute;
	}
	header small, footer small{
	opacity:0;
	letter-spacing:1px;
	font-size:12px;
	transition-delay: .8s;/*wait for line to finish*/
	}
	.section h2,
	.section h3{
	font-size: 4em;
	line-height: 120%;
	font-family: "NeuzeitSLTStd-BookHeavy";
	font-weight: 100;
	color: white;
	position: relative;	    
	}
	.section h2{
	width:80%;
	margin:auto;
	}
/*
	.centered{
	position: relative;	    
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	}
*/
	.left,.right{
	position:fixed;	
	z-index:100;
	top:50%;
	}
	.left.centered,.right.centered{
	cursor:pointer;
	text-transform: uppercase;
	font-size:12px;
	}
	.left.centered{
	text-align:right;
	left:0%;
	}
	.left.centered small{
	margin-left:18px;
	}
	
	.right.centered{	
	direction: rtl;
	text-align:left;	
	right:0%;
	}
	.right.centered .h__line{
	margin-left:0;
	}
	.right.centered small{
	display:block;
	margin-right:18px;
	}
	
	.right.drawer{		
	z-index:90;
	top:0;
	right:0;	
	background-color:#000000;
	color:#ffffff;	
	height:100%;
	/* 	width:250px; */
	width:0;
	transition: width .5s;
	}
	
	.right.drawer.open{
	width:25%;
	}
	
	.right.drawer .centered{
	display: none;
	opacity:0;
	text-align: left;	
	}
	.right.drawer.open .centered{
	position:relative;
	top: 50%;
	transform: translateY(-50%);
	display: static;	
	opacity:1;
	padding-left:50px;
	padding-right:90px;
	}
	
	.right.drawer h3{
	font-family:'Inconsolata';
	font-size:12px;
	margin:0;
	margin-bottom:10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	}
	.right.drawer p{
	font-family: NeuzeitSLT-Book;
	text-transform:none; 
	letter-spacing:1px;	
	font-size:15px;
	line-height:160%;
	margin:0;
	margin-bottom:45px;
	}
	.right.drawer p:last-child{
	margin-bottom:0;
	}
	.lower{
	opacity:1;
	visibility: visible;
	position: absolute;	    
	bottom: 5%;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;	    
	text-align:center;
	left:50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	}
	.lower .vertLine{	    
	opacity:1;
	visibility: visible;
	background-color:#ffffff;
	width:1px; 
	margin:0 auto 24px auto;
	height:100px;
	}
	
	
	.h__line{
	position:relative;
	width:45px;
	height:3px;
	margin-bottom:10px;
	background:white;
	}
	
	.v__line{
	opacity:1;
	background-color:#ffffff;
	margin:auto;
	width:1px;
	height:1px;
	transition-duration:1s; 
	transition-delay: 1s;
	}
	
	.v__lineBG{
	opacity:1;
	margin:auto;
	width:1px;
	height:1px;
	background:white;
	transition-duration:1s; 
	transition-delay: 1s;
	}
	
	/*Animation*/
	.section.active small{
	opacity:1;
	transition-duration:1s;
	}
	
	.section.active header small{
	transition-delay: 1.75s;
	}
	.section.active footer small{
	transition-delay:1.75s;
	}
	
	.section.active .v__line{
	height:100px;
	}
	.section.active .v__lineBG{	
	opacity:1;
	height:100px;
	transition-duration:.5s;
	}
	
	.top.v__line{
	margin-bottom:10px;
	height:1px;	
	}
	.bottom.v__line{
	background-color:transparent;
	margin-top:15px;
	height:0px;
	}
	.section.active .top.v__line{
	height:100px;
	}	
	.tall{
	height:100% !important;
	background-position: center center !important;	
	background-repeat: no-repeat;
	}
	.tall:before {
	display: none !important;	
	}	
}
