/* @media only screen and (min-device-width: 1025px){ */
@media only screen and (min-width: 960px) and (min-device-width: 1025px){
/*
@media screen 
  and (min-width: 960px) 
  not (orientation: landscape)  { 
*/

	#mobile-nav-overlay{		
		display:none;
		opacity: 0;
		visibility: hidden;
	}		
	/********************************************
    Swiper
    ********************************************/
    .propertyMenu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100% !important;
        Width: 100% !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        padding:45px;
        background:rgba(0, 0, 0, 0.5);    
        z-index: 400;        
    }
    
    .propertyMenu .swiper-container{
        display:block;
        width:100% !important;
        height:100% !important;
        background-color:#ffffff;
        overflow: visible;
    }
    .propertyMenu .swiper-slide{
        position:relative;
        height:329px;
        width:526px;
        text-align:center;
        font-size:18px;       
        background-size: cover;
        background-position:center center;
        
    }
    .propertyMenu .swiper-slide a:link{
	    position: relative;
	    display:block !important;
	    height:100% !important;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        background-color:transparent; 
        background-color:rgba(0,0,0, 0.55);       
    }
    .propertyMenu .swiper-slide-next a:link,
    .propertyMenu .swiper-slide-prev a:link{
	    background-color:rgba(0,0,0, 0.5);
        transition:background 1.25s;
    }
    .propertyMenu .swiper-slide-active a:link{
	    background-color:transparent;
	    transition:background 0.75s;
    }
    .propertyMenu .swiper-slide-active a:hover{
	    background-color:rgba(0,0,0, 0.5);
    }    
    
    .propertyMenu .swiper-slide .centered{	
        color:#ffffff;
        font-size:30px;
        vertical-align: bottom;
        padding-top:15px
    }
    
    .propertyMenu .swiper-pagination-bullet{
        border-radius: 0%;
        display:inline-block;
        width:auto;
        height:100px;
        text-align:center;
        line-height:20px;
        font-size:12px;
        opacity:1;
        color:#9a9a9a;
        background-color:transparent;
        position:relative;
    }
    .propertyMenu .swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
        margin: 0 15px;
    }
    .propertyMenu .swiper-pagination-bullet-active{color:#000000;background-color:transparent;}

    .propertyMenu .swiper-pagination-bullet footer{
        height:1px;
        transition: all .5s;
    }
    
    .swiper-container-horizontal>.swiper-pagination {
        bottom: 0 !important;
        overflow: hidden;
    }

    .propertyMenu .swiper-pagination-bullet-active footer{
        height:80px;
        transition-duration:1s;
    }

    .propertyMenu .centered{
		font-family: 'NeuzeitSLTStd-BookHeavy';
        position: relative;	    
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    .propertyMenu .v__linepropBG{
        background-color:black;
        margin:auto;
        margin-top:10px;
        width:1px;
        height:70px;
    }
    .propertyMenu .v__propline{
        background-color:white;
        margin:auto;
        margin-top:10px;
        width:1px;
        height:70px;
        transition:all .5s;
    }
    .propertyMenu .swiper-pagination-bullet-active .v__propline{
        height:0px;	
    }
	.FlexEmbed:before,
    #mobileInfo,
    .right.drawer h3.name,
	.right.drawer p.address{
		display:none;
	}
	.left.centered,
	.right.centered,
    .right.drawer,
	.section header,
	.section footer{
		display:block;
	}
	#nav-overlay{
		background-color:#ffffff;
		height:100%;
		width:100%;
	}
	.logo{
		display:block;
		max-width:182px;
		height:32px;	
		left:45px;						
	}	
	.viewBtn{
		border:0;
		border-top:solid 4px #ffffff;
		font-size:15px;
		width: 63px;
	}
	
	.centered .svg-wrapper {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border:none;
        width: 280px;
        margin:auto;
        height: 52px;
        cursor: pointer;
		margin-top: 50px;
        z-index: 10;
    }
    
    .centered .svg-wrapper .text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 280px;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        color: #fff;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    
    .centered .svg-wrapper svg{
		display:block;
	}

    .centered .svg-wrapper svg polyline {
	    display:block;
        fill: none;
        stroke: #fff;
        stroke-width:3px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    
    .centered .svg-wrapper svg polyline.left {
        stroke-dasharray: 332;
        stroke-dashoffset: 300;
    }
    
    .centered .svg-wrapper svg polyline.right {
        stroke-dasharray: 40 332;
        stroke-dashoffset: -300;
    }
    
    .centered .svg-wrapper svg polyline{
        stroke-dasharray: 332;
        stroke-dashoffset: 0;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    
    .section .svg-wrapper svg:hover polyline{
	stroke-dasharray: 332;
	stroke-dashoffset: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	}
	
	body.menuBtn {
        overflow: hidden;
    }
    
    body.menuBtn .td{
        border-color: #000;
        color: #000;
        box-shadow: 0 0 0 transparent inset;
    }
    
    body.menuBtn .td:hover {
    box-shadow: inset 0 0 0 3px #000;
}
    
    body.menuBtn #menu{
        border-color: #000;
        box-shadow: inset 0 0 0 3px #000;
        background-color: #000;
    }
    
    body.menuBtn #grid svg{
        fill: #000;
	}	
	
	
	.lower{
		opacity:1;
		visibility: visible;
		position: absolute;	    
	    bottom: 5%;
	    -webkit-margin-before: 0;
        -webkit-margin-after: 0;	    
        text-align:center;
        left:50%;
        -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	}
	.lower .vertLine{	    
		opacity:1;
		visibility: visible;
	    background-color:#ffffff;
	    width:1px; 
	    margin:0 auto 24px auto;
		height:100px;
    }
	body{
	font-family:'Inconsolata';
	color:#ffffff;
	text-align:center;
	background-color:#1c1c1c;
	margin:0;
	}
	/*Vertical Navigation*/
	#fp-nav {
	position: fixed;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	}
	#fp-nav.right {
	right: 20px;
	}
	#fp-nav.left {
	left: 17px;
	}
	.fp-slidesNav{
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1;
	}
	.fp-slidesNav.bottom {
	bottom: 17px;
	}
	.fp-slidesNav.top {
	top: 17px;
	}
	#fp-nav ul,
	.fp-slidesNav ul {
	margin: 0;
	padding: 0;
	}
	#fp-nav ul li,
	.fp-slidesNav ul li {
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
	position:relative;
	}
	.fp-slidesNav ul li {
	display: inline-block;
	}
	#fp-nav ul li a,
	.fp-slidesNav ul li a {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	}
	#fp-nav ul li a.active span,
	.fp-slidesNav ul li a.active span,
	#fp-nav ul li:hover a.active span,
	.fp-slidesNav ul li:hover a.active span{
	height: 8px;
	width: 8px;
	/*     margin: -6px 0 0 -6px; */
	border-radius: 100%;    
	background: #ffffff;
	}
	#fp-nav ul li a span,
	.fp-slidesNav ul li a span {
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	height: 8px;
	width: 8px;
	border: 0;
	background: rgba(131, 131, 131, 0.5);
	left: 50%;
	top: 50%;
	/*     margin: -2px 0 0 -2px; */
	-webkit-transition:background 0.5s ease-in-out; 
	/*     -moz-transition: all 0.1s ease-in-out; */
	/*     -o-transition: all 0.1s ease-in-out; */
	transition: background 0.5s ease-in-out;
	}
	#fp-nav ul li:hover a span,
	.fp-slidesNav ul li:hover a span{
	width: 10px;
	height: 10px;
	/*     margin: -5px 0px 0px -5px; */
	}
	#fp-nav ul li .fp-tooltip {
	position: absolute;
	top: -2px;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	display: block;
	opacity: 0;
	width: 0;
	}
	#fp-nav ul li:hover .fp-tooltip,
	#fp-nav.fp-show-active a.active + .fp-tooltip {
	-webkit-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
	width: auto;
	opacity: 1;
	}
	#fp-nav ul li .fp-tooltip.right {
	right: 20px;
	}
	#fp-nav ul li .fp-tooltip.left {
	left: 20px;
	}	

	/*FullPage Sections*/
	.section{
	height:100% !important;
	position:relative;
	text-align:center;
	background-size: cover;
	background-position: center center;
	}
	.section .fp-tableCell{
		background-color:transparent;
		-webkit-transition: all 1.25s ease-out;
        -moz-transition: all 1.25s ease-out;
        -ms-transition: all 1.25s ease-out;
        -o-transition: all 1.25s ease-out;
        transition: all 1.25s ease-out;
	}
	.section .fp-tableCell.active{
		background-color: rgba(0,0,0,0.5);
	}
	#hero.section .fp-tableCell:hover{
		background-color:transparent;
	}
	
	header{top:0; cursor:pointer}
	footer{bottom:0;cursor:pointer}
	
	header,footer{
	width:100%;
	text-align:center;
	text-transform:uppercase;
	position:absolute;
	}
	header small, footer small{
	opacity:0;
	letter-spacing:1px;
	font-size:12px;
	transition-delay: .8s;
	}
	.section h2,
	.section h3{
	font-size: 4em;
	line-height: 120%;
	font-family: "NeuzeitSLTStd-BookHeavy";
	font-weight: 100;
	color: white;
	position: relative;	    
	}
	.section h2{
	position:relative;
	z-index:500;
	width:100%;
	max-width:800px;
	margin:auto;
	}
/*
	.centered{
	position: relative;	    
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	}
*/
	.left,.right{
	position:fixed;	
	z-index:100;
	}
	.left.centered,.right.centered{
	cursor:pointer;
	text-transform: uppercase;
	font-size:12px;
	}
	.left.centered{
	text-align:right;
	left:0%;
	}
	.left.centered small{
	margin-left:18px;
	}
	
	.right.centered{	
	direction: rtl;
	text-align:left;
	right:0%;
	}
	.right.centered .h__line{
	margin-left:0;
	}
	.right.centered small{
	display:block;
	margin-right:18px;
	}
	
	.right.drawer{	
	z-index:90;
	top:0;
	right:0;	
	background-color:#000000;
	color:#ffffff;	
	height:100%;
	/* 	width:250px; */
	width:0;
	transition: width .5s;
	}
	
	.right.drawer.open{
	width:25%;
	}
	
	.right.drawer .centered{
	display: none;
	opacity:0;
	text-align: left;	
	}
	.right.drawer.open .centered{
	display: static;
	opacity:1;
	padding-left:50px;
	padding-right:90px;
	}
	
	.right.drawer h3{
	font-family:'Inconsolata';
	font-size:12px;
	margin:0;
	margin-bottom:10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	}
	.right.drawer p{
	font-family: NeuzeitSLT-Book;
	text-transform:none; 
	letter-spacing:1px;	
	font-size:15px;
	line-height:160%;
	margin:0;
	margin-bottom:45px;
	}
	.right.drawer p:last-child{
	margin-bottom:0;
	}
	
	.h__line{
	position:relative;
	width:45px;
	height:3px;
	margin-bottom:10px;
	background:white;
	}
	
	.v__line{
	opacity:1;
	background-color:#ffffff;
	margin:auto;
	width:1px;
	height:1px;
	transition-duration:1s; 
	transition-delay: 1s;
	}
	
	.v__lineBG{
	opacity:1;
	margin:auto;
	width:1px;
	height:1px;
	background:white;
	transition-duration:1s; 
	transition-delay: 1s;
	}
	
	/*Animation*/
	.section.active small{
	opacity:1;
	transition-duration:1s;
	}
	
	.section.active header small{
	transition-delay: 1.75s;
	}
	.section.active footer small{
	transition-delay:1.75s;
	}
	
	.section.active .v__line{
	height:100px;
	}
	.section.active .v__lineBG{	
	opacity:1;
	height:100px;
	transition-duration:.5s;
	}
	
	.top.v__line{
	margin-bottom:10px;
	height:1px;	
	}
	.bottom.v__line{
	background-color:transparent;
	margin-top:15px;
	height:0px;
	}
	.section.active .top.v__line{
	height:100px;
	}	
	.tall{
	height:100% !important;
	background-position: center center !important;	
	}
	.tall:before {
	display: none !important;	
	}	
	
	/* HomePage*/
	.viewBtn{
		border:0;
		border-top:solid 4px #ffffff;
		font-size:15px;
		width: 63px;
	}
	.home .bottom.v__line{
	background-color:transparent;
	margin-bottom:25px;
	height:100px;
	}
	.home footer{
		padding-bottom:65px;
	}
}