.bio.section{
	height:77%;
	background-size: cover;
	background-position: center center;
}
#contactPage h2{
	text-align:left;
/* 	width:87% !important; */
	margin:auto;
	font-size:42px;
	line-height:120%;
	margin-bottom:0px;	
	
}
.info{
	float:none;			
	text-align:left;
	font-family: 'NeuzeitSLT-Book';
	font-size:15px;
	line-height:140%;
/* 	width:315px; */
	width:100%;
	margin-bottom:60px;
}
.info h3{
	text-transform: uppercase;
	font-family:'Inconsolata';
	font-size:14px;
	line-height:1em;
	margin-bottom:5px;
}
.info a:link,
.info a:visited,
.info a:hover{
display:inline-block;
text-decoration:none;
color:#ffffff;		
}			
.lowerBlack{
	background-color: #000000;
	padding: 90px 6.5%;
}

@media only screen and (max-width: 769px){
	.bio{
		padding:0 45px;		
	}
	.lowerBlack .info{
		float:none;
		display:block;
		margin-bottom:50px !important;
	}
	
}
/* @media only screen and (min-device-width: 1025px){ */
@media only screen and (min-width: 960px) and (min-device-width: 1025px){
	.lowerBlack{
	background-color:transparent;
	}
	.bio.section{
	height:100%;
	}		
	#contactPage{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width:100%;
	max-width:675px;
	margin:auto;
	text-align:left;
	}
	#contactPage.centered{
	position: relative;	    
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;	
	}
	#contactPage h2{
	width:100%;
	margin:0 !important;
	margin-bottom:45px !important;
	font-size:42px;
	line-height:115%;
	margin-bottom:40px;
	}
	#contactPage .info h3{
	font-size:14px;
	line-height:1em;
	margin-bottom:5px;
	}	
	#contactPage .info{
	float:left;	
	margin:0;		
	width:315px;
	}
	#contactPage .info:first-child{
	margin-right:40px;
	}
	#contactPage .lowerBlack{
	padding:0;
	}
}