html,body{height:100% !important;width:100%;}
body{
	background-color:#000000;
	padding: 0;
	text-align: center;
	font-family: "Inconsolata";
	color:#ffffff;
	position: relative;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: 0;
  color: #ffffff;
}
a,
a:visited,
a:hover,	
a:focus,
a:active{

	display:block;
	color: #ffffff;
}
a:focus {
	outline: 0;
}
a:hover,
a:active {
	outline: 0;
}
    
a {
  text-decoration: none;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
    
.clear {
  width: auto;
} 

/*****************************************************
NAVIGATION
*****************************************************/
nav{		    
	position:fixed;
	top: 20px;
	z-index: 600;
    right: 20px;
}
#innerWrap{
	width:100%;
	margin:auto;
	display:table;
	direction: rtl;
}  
.tr{
    width:100%;		
    padding-right: 0px;
}  
.td{
	display:none;		
}
#topLogo.td{
/* 	display:table-cell; */
	display:none;
	border:none;
}

#topLogo .logo {
/* 	opacity: 1; */
	opacity: 0;	
	visibility: hidden;
	-webkit-transition: opacity 0.75s ease;
	-moz-transition: opacity 0.75s ease;
	-ms-transition: opacity 0.75s ease;
	-o-transition: opacity 0.75s ease;
	transition: opacity 0.75s ease;		
}		

.logo{		
	cursor:pointer;
    background-image: url(../img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 183px;
    height: 45px;
    top: 20px;
    left: 20px;
    z-index: 999;
    /* display: none; */
}

/* Mobile Menu */
#mobile-nav-overlay{		
	opacity: 1;
	visibility: visible;
	width:100%;
	text-align:left;	
	overflow-y: hidden;
	background-color: #000;
	z-index: 500;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	-moz-transition: opacity 0.5s, visibility 0s 0.5s;
	-ms-transition: opacity 0.5s, visibility 0s 0.5s;
	-o-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
#mobileMenu{
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	padding: 0;
	padding:0px;
	text-align:left;
	background-color: #000;
	z-index: 500;
	overflow-y:scroll;
}	
#mobileMenu h3{
	font-size:12px;
	letter-spacing: 1px;
	text-transform: uppercase;	
	padding-left:8px;
	padding-bottom:11px;
}

#mobileMenu .logo{
	top:20px;	
}

/*Disable fixed Logo*/
body.menuBtn #topLogo .logo{
	display:none;
}

.listWrap{
	margin-top:115px;
	padding:0 20px 50px 20px;
	overflow: hidden;
}
.listWrap .table {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  color:#9a9a9a;
}
.listWrap .recent.table {
	border:none;
}
.listWrap .table a li{	
	color:#ffffff;
	border:solid 2px #ffffff;
	border-top:none;
}
.listWrap .table a:first-child li{
	border-top:solid 2px #ffffff;
}
.listWrap .table li a{
	color:#9a9a9a !important;
	display:inline-block;
}
.listWrap .table li {
  border: solid 2px #9a9a9a;
  border-top:none;
  padding: 16px;
  font-size:15px;
  text-transform: uppercase;
}
.listWrap .table li:first-child{
	border-top:solid 2px #9a9a9a;
}

.devList{
	width:100%;
	margin-top:35px;
}
.devList h3{
	font-size:12px;
	letter-spacing: 1px;
	text-transform: uppercase;	
	padding-left:8px;
	padding-bottom:11px;
}
.devList:first-child{
	margin-top:0;
}   

#menu{
  display:table-cell;
  width:42px;
/*   padding:14px; */
  border:solid 2px #ffffff;
}
#menu.active{
	background-color:black;
}
#menu .toggle {
    padding:16.5px 16px;
/*     height:11px; */
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	cursor: pointer;
}

#menu .toggle span {
    height: 1px;
    background: #fff;
    margin-bottom: 3px;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu.active .toggle,
body.infoBtn .toggle {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu.active .toggle .t1,
body.infoBtn .toggle .t1{
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(5px);
}

#menu.active .toggle .t2,
body.infoBtn .toggle .t2 {
    opacity: 0;
}

#menu.active .toggle .t3,
body.infoBtn .toggle .t3 {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -moz-transform: rotate(-90deg) translateX(3px);
    -ms-transform: rotate(-90deg) translateX(3px);
    -o-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px);
}
body.menuBtn{
    overflow: hidden;
}

body.menuBtn .td,{
    border-color: #000;
    color: #000;
}

body.menuBtn .td:hover {
box-shadow: inset 0 0 0 3px #000;
}

body.menuBtn #menu{
/*     border-color: #000; */
    box-shadow: inset 0 0 0 3px #000;
    background-color: #000;
}

body.menuBtn #grid svg{
    fill: #000;
}


@media only screen and (min-width: 960px) and (min-device-width: 1025px){
	nav{		    
	position:fixed;
	top: 45px;
	left:0;
	width: 100%;		
	z-index: 600;
	}
	#innerWrap{
		display:table;
	}
	.tr{
		border:none;		
		padding-right:45px;
	}
	.td{
		display: table-cell;
		font-size:12px;
		text-transform: uppercase;
		padding: 14.5px 16px;
		text-align: center; 
		height: 100%; 
		width:40px;
		vertical-align: middle; 
		border:solid 2px #ffffff;
		transition: all .2s linear;
		box-shadow: 0 0 0 transparent inset;
	}	
	
	#grid.nav-active {
        background-color: #fff;
    }
    
    #grid.nav-active svg {
        fill: #000;
    }

	.td:hover{
		box-shadow: inset 0 0 0 3px #fff;
	}

	#nav-overlay{
		background-color:#ffffff;
		height:100%;
		width:100%;
	}
	.logo{
		display:none;
		max-width:182px;
		height:32px;	
		left:45px;						
	}	
	
	#topLogo.td{
		display:table-cell;
		border:none;
	}
	
	#topLogo .logo {
		display:block;
		top:0;
		opacity: 1;
		visibility: visible;	
	}		

	#topLogo.td:hover{
		box-shadow:none;
	}	
	#contact{
		border-left:none;
	}
	#menu{
		height:40px;
	}
	#menu .toggle {
	    padding:14px 16px;
	}
	#menu .toggle {
		border:none;
	}
	#grid,#menu{
		padding:0;
		height:40px;
		border-left:none;
	}
	#grid svg{
		width:14px;
        height: 10px;
        fill: #fff;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
	}
	
	#grid img/* #menu img */{
		width:14px;
	}		  
	          
	/*Active Nav*/
	#innerWrap.active .td{
		border:solid 2px #000000;	
		color:#000000;
	}
	#innerWrap.active #grid,
	#innerWrap.active #contact,
	#innerWrap.active #menu{		
		border-left:none;
	}
	#innerWrap.active .td:hover{
		box-shadow: inset 0 0 0 3px #000;
	}
	#innerWrap.active #topLogo.td{
		display:none;
		border:none;
	}
	
	#innerWrap.active #grid svg{
		fill:#000 !important;
	}

}